<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <ul class="nav">
      <li *ngFor="let items of menuItems" class="nav-item">
        <a class="nav-link" href="{{items.linkUrl}}">{{items.linkName}}</a>
      </li>

    </ul>
  </header>
</div>

